@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$font-family-main: "Inter", sans-serif;

$text-color-main: black;
// $text-color-secondary: #e802d6;

$bg-main: linear-gradient(94.9deg, #8987ff 4.92%, #ed9bd6 105.16%);
$bg-secondary: #fff;

$page-padding: 0 154px;
